body, html {padding: 0 10px; background-color: #f5f5f5;}
main {
    max-width: 420px; min-width: 320px; margin: 30px auto 0;
    text-align: center;
}
main h1{
    font-size: 2rem; font-weight: 800;
    text-align: center;
    padding: 20px 0;
    color:#fc8804;}

main p{
    margin-bottom: 20px;
}
main .info{
    padding: 30px;
    text-align: left;
    margin-bottom: 30px;
    border-radius: 20px; border: 5px solid #fc8804;
}
main .info li{}
main .info li:nth-child(1){margin-bottom: 30px;}
main .info li span{
    font-weight: 600; color: #fc8804;
}
main .info li input{}
main #resulr_btn{
    font-size: 1.2rem; font-weight: 600;
    background-color: #fc8804; color: #fff;
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    /* transition: background-color 0.5s ; */
}
main #resulr_btn:hover{
   /*  background-color: #ffc400;  */
}
main #result {
    margin-top: 5px; 
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 15px 10px;
    background-color: #f00;
    border-radius: 20px;
}
/* 자바스크립트에서 동적으로 생성한 HTML 꾸미기 속성 */
main #result em{color: rgb(104, 0, 0); font-weight: 700;}