/* insta */
body, html{ background-color: #95efbd; padding: 0 10px;}
main {
    background-color:#fff;
    max-width: 420px;  min-width: 320px;
    margin: 50px auto 0;
}
main .top{display: flex; justify-content:space-between; padding: 10px;}
main .top .profile{
    display: flex;
    flex-flow: row nowrap; align-items: center; /* 플랙스 중앙축으로 설정하기! */
    
}
main .top .profile .photo{
    border-radius: 50%;
    width: 25px; height: 25px;
    background: url(https://images.unsplash.com/photo-1500835556837-99ac94a94552?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8dHJhdmVsfGVufDB8fDB8fHww) center / cover;
}
main .top .profile em{margin: 0 4px; font-weight: 600; font-size: 0.875rem;}
main .top .profile .cerified{color: #14ce66; font-size: 0.75rem;}
main .top #top_menu{font-size: 0.75rem;}
main .photo{}
main .photo img{width: 100%;}
main .menu{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
main .menu .left{display: flex;}/* 옆으로 세우기, 크기 적용 */
main .menu .left > * {width:24px;}
main .menu .left img{width:100%;} /* 이미지는 부모를 따라가게하고, 크기는 그 부모 형제에게 주는것이 좋다. */
main .menu .left .like{}
main .menu .left .like img{}
main .menu .left .comment{margin: 0 10px;}
main .menu .left .comment img{}
main .menu .left .share{}
main .menu .left .share img{}
main .menu .reght_save{}
main .menu .reght_save img{}
main .contents{padding: 10px;}
main .contents .story{}
main .contents .tag{margin: 14px 0;}
main .contents .tag span{
    background: #f5f5f5;
    color: #146ece; font-size: 0.75rem;
    font-weight: 600; 
}
main .contents .date{font-size: 0.75rem; color: #aaa;}